body {
  font-family: 'Inconsolata', serif;
}

#jumbo {
  height: 120px;
  padding-top: 40px;
  margin: 0;
}

.navbar {
  font-size: 1.2em;
}

.navbar-btn {
  padding-right: 20px;
}

.headerText {
  font-family: 'Girassol', serif;
  text-shadow: 4px 4px 4px #aaa;
}

.button-right {
  float: right;
  display: flex;
  width: 300px;
}

.button-center {
  width: 50%;
  margin: 0 auto;
  width: 196px;
}

.btn {
  text-transform: uppercase;
  padding-left: 15px;
  padding-right: 15px;
  border: 4px solid;
  border-radius: 6px;
  border-width: 2px;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: bolder;
  display: inline-block;
  display: flex;
  justify-content: flex-end;
}

.btn:hover {
  border-radius: 30px;
  border-color: #494949;
  }

.tapMenu, .form-card {
  font-family: 'Inconsolata';
}

h1 {
  font-size: 4em;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.tapMenu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
  height: 480px;
  width: 280px;
}

.card-image {
  height: 180px;
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.card-footer {
  padding-top: 0%;
  padding-bottom: 0%;
  position: relative;
}

.price-color {
  color: rgb(0, 161, 236);
  font-weight: bold;
  font-size: 1.1em;
}

.left-pints-enough {
  color: rgb(1, 161, 49);
  font-weight: bold;
}

.left-pints-almost {
  color: rgb(255, 166, 0);
  font-weight: bold;
}

.left-pints-empty {
  color: red;
  font-weight: bold;
}

.detail-card {
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
  margin-bottom: 180px;
  height: 400px;
  width: 600px;
  font-size: 1.2em;
}

.form-card {
  margin: 0 auto; 
  float: none; 
  margin-bottom: 10px; 
  width: 500px;
  padding: 30px;
}

.footer {
  font-family: 'Inconsolata';
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  bottom: 0px;
  text-align: left;
  font-weight: bold;
  padding: 25px 30px;
  margin-top: 60px;
}

.footer p.footer-links button {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer p.footer-links a {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline;
  margin: 0;
  padding: 0;
}

.link-button:hover,
.link-button:focus {
text-decoration: none;
}

.footer .footer-links button:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-left: 7px;
  padding-right: 3px;
}

.footer .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-left: 7px;
  padding-right: 3px;
}

.footer .footer-links .link-1:before {
  content: none;
}

.footer .footer-left p {
  color: #c1cddd;
  font-size: 15px;
  margin: 0;
}

.footer .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #9aa0a365;
  border-radius: 3px;
  font-size: 22px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 7px;
  transition:all .25s;
}

.footer .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer p.footer-links a:hover{text-decoration:underline;}
.footer p.footer-links button:hover{text-decoration:underline;}